---
import { cn } from "@/lib/utils"
import { ArrowCircleUpRight, type Icon } from "@phosphor-icons/react"
import { Card, CardContent, CardFooter, CardHeader, CardTitle } from "./ui/card"
import { Button } from "./ui/button"
import HighlightTitle from "./HighlightTitle.astro"
import Image from "astro/components/Image.astro"

interface Props {
	image: string
	colorIcon: string
	title: string
	description: string
}
const props = Astro.props
const colorPicker = (str: string) => {
	switch (str) {
		case "main":
			return {
				bg: "bg-main hover:bg-white",
				text: "text-black",
				clip: "white",
			}
		case "secondary":
			return {
				bg: "bg-secondary hover:bg-white",
				text: "text-black",
				clip: "main",
			}
		default:
			return {
				bg: "bg-black hover:bg-white",
				text: "text-white hover:text-black",
				clip: "white",
			}
	}
}
const color = colorPicker(props.colorIcon)
---

<Card
	className={cn(
		"min-h-full cursor-pointer pt-10 overflow-hidden",
		`${color.bg} ${color.text}`
	)}
>
	<CardContent className="flex-row flex">
		<CardTitle className="text-4xl flex-1">
			<HighlightTitle color={color.clip}>{props.title}</HighlightTitle>
		</CardTitle>
		<div class="px-6 hidden md:block">
			<Image width="200" height="200" src={props.image} alt={props.title} />
		</div>
	</CardContent>
	<CardFooter>
		<p class="inline">Lihat Detail</p><ArrowCircleUpRight
			size={24}
			className="mx-1"
		/>
	</CardFooter>
</Card>
